# ServeRest API base URL (Docker)
BASE_URL=http://localhost:3000

# Admin credentials (API)
ADMIN_EMAIL=admin@qa.com
ADMIN_PASSWORD=admin123

# ServeRest UI base URL (public frontend)
UI_BASE_URL=https://front.serverest.dev

# Admin credentials (UI)
UI_ADMIN_EMAIL=admin@qa.com
UI_ADMIN_PASSWORD=teste